<%= form_tag(@base_url, :method=>:post, :id => "payupaisaform") do %>
 <input type="hidden" name="key" value="<%= @merchant_key %>" />
      <input type="hidden" name="hash" value="<%= @hash %>"/>
      <input type="hidden" name="txnid" value="<%= @txnid %>" />
      <input type="hidden" name="udf2" value="<%= @txnid %>" />
          <input type="hidden" name="service_provider" value="payu_paisa" />
      <!-- <table>
        <tr>
          <td>Amount: </td>
          <td> --><input type="hidden" name="amount" value="<%= @amount %>" readonly/><!-- </td>
          <td>First Name: </td>
          <td> --><input type="hidden" name="firstname" id="firstname" value="<%= @firstname %>"  readonly/><!-- </td>
        </tr>
        <tr>
          <td>Email: </td>
          <td> --><input type="hidden" name="email" id="email" value="<%= @email %>" readonly /><!-- </td>
          <td>Phone: </td>
          <td> --><input type="hidden" name="phone" value="<%= @phone %>" readonly/><!-- </td>
        </tr>
        <tr>
          <td>Product Info: </td>
          <td colspan="3"> --><input type="hidden" name="productinfo" value="productinfo" size="64" readonly /><!-- </td>
        </tr>
        <tr>
          <td>Success URI: </td>
          <td colspan="3"> --><input type="hidden" name="surl" value="http://<%=Spree::Config[:site_url]%>/payupaisa/confirm?payment_method_id=<%=params[:payment_method_id]%>&authencity_token=<%=params[:authenticity_token]%>" size="64" readonly /><!-- </td>
        </tr>
        <tr>
          <td>Failure URI: </td>
          <td colspan="3"> --><input type="hidden" name="furl" value="http://<%=Spree::Config[:site_url]%>/payupaisa/cancel?authencity_token=<%=params[:authenticity_token]%>" size="64" readonly /><!-- </td>
        </tr>
      </table> -->
     <%#= submit_tag 'Proceed to payment' %> 
<% end %>
<script>
  document.getElementById("payupaisaform").submit();
</script>
